/* .brand {
  background-image: url(/static/img/orangeback.jpg);
} */
@media only screen and (min-width: 670px) {
  .why {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .diet_img {
    width: 28rem;
    margin: 0 20px 0 0;
  }
  .logo {
    width: 7rem;
    height: 7rem;
  }
  .serviceslayout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .servicetext {
    width: 32rem;
  }
  .homebtns {
    padding: 10px 15px;
    font-size: 22px;
    font-weight: 600;
  }
  .title {
    width: 14rem;
  }
}
@media only screen and (max-width: 670px) {
  .why {
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .rev {
    flex-direction: column-reverse;
  }
  .text {
    margin-top: 70px;
  }
  .diet_img {
    width: 70%;
    margin: 25px 0 20px 0;
  }
  .logo {
    width: 20%;
    height: 20%;
  }
  .serviceslayout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .servicetext {
    width: 80%;
  }
  .homebtns {
    padding: 8px 10px;
    font-size: 18px;
    font-weight: 500;
  }
  .title {
    width: 10rem;
  }
}
.serviceimg {
  width: 22rem;
}
